@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500&display=swap');

*{margin:0; padding:0; box-sizing:border-box;}
html,body{width:100%;}
body{font-family:'Quicksand',sans-serif;}
a{text-decoration:none;}
main{}
header{width:100%;}
footer{width:100%;}
section{position:relative;}
h1,h2,h3{font-family:'Montserrat',sans-serif;}

.crp1{max-width:1200px; margin:auto;}
.bra1{width:100%; height:60px;}
h1{font-size:30px; font-weight:400; color:#444;}
h1 b{font-weight:500; color:#000;}

.clm1{width:200px;}
.clm1 h2{font-size:18px; font-weight:400;}
nav{width:100%;}
.btn1{width:100%; margin-bottom:3px; border-radius:20px;}
.btn1 p{font-size:15px; font-weight:500; color:#000; padding:3px 20px; text-transform:uppercase;}
.btn1:hover{background:rgba(0,0,0,0.15)}
.btn1D{background:#4285f4;}
.btn1D p{color:#fff;}

.clm2{width:calc(100% - 200px); padding:0 20px;}
.clm2 h2{font-size:28px; font-weight:300;}
.cja1{width:300px; margin:40px auto; background:#fff; border-radius:5px; box-shadow:0px 6px 25px -3px rgba(0,0,0,.35);}
.cja3{width:100%; padding:3px 10px; border-bottom:1px solid #ccc;}
.cja3:last-child{border-bottom:none;}
.cja3 p{font-size:14px;}
.cja3 p:first-child{width:100px; margin-right:20px; padding-left:20px; text-align:left;}
.cja3 p:last-child{position:relative; padding-left:10px;}
.cja3 p:last-child:before{content:'$'; position:absolute; left:0px;}
.ttl1{width:100%; height:50px; background:#ddd; color:#000; border-radius:5px 5px 0px 0px;}
.ttl1 h2{font-size:18px; font-weight:500; text-transform:uppercase; line-height:100%; letter-spacing:.1rem; text-align:center;}
.ctx1{width:100%; height:calc(100% - 50px); padding:30px; text-align:center;}
.ctx1 p{font-size:28px; font-weight:500; text-transform:uppercase; letter-spacing:.1rem;}
.btn2{width:150px; height:40px; margin:20px auto; background:#fff; border:1px solid #333;}
.btn2 p{font-size:12px; font-weight:500; text-transform:uppercase;}

.df{display:flex;}
.flw{flex-flow:row wrap;}
.fdc1{flex-direction:row;}
.fdc{flex-direction:column;}
.jc{justify-content:center;}
.js{justify-content:flex-start;}
.je{justify-content:flex-end;}
.jsb{justify-content:space-between;}
.jsa{justify-content:space-around;}
.aic{align-items:center;}
.ais{align-items:flex-start;}
.aie{align-items:flex-end;}
.aibl{align-items:baseline;}
.aist{align-items:stretch;}
.aibl{align-items:baseline;}
.acc{align-content:center;}
.acs{align-content:flex-start;}
.ace{align-content:flex-end;}